<h1>Showing: all products</h1>

<% @products.each do |product| %>
  <div class="img">
    <%= image_tag(product.img, width: '550') %>
  </div>
  <h2><%= link_to product.title, product %></h2>
  <p><%= product.description %></p>
  <small><strong>Price: <%= product.price %></strong></small>
<% end %>

<br>
<br>

<%= link_to 'New Product', new_product_path %>
