<div class="container">
  <div class="product">
    <div class="row">
      <div class="col-xs-12 cold-sm-12 col-md-12 col-lg-12">
        <div class="img"><%= image_tag(@product.img, width: '950', class:  "img-responsive center-block") %></div>
      </div>
      <div class="col-xs-12 cold-sm-12 col-md-12 col-lg-12">
        <div class="text">
          <h2><%= @product.title %></h2>
          <h4><%= @product.price %>$</h4>
          <p>
            <%= @product.description %>
          </p>



          <p>
            <strong>Category:</strong>
            <%= @product.category %>
          </p>
          <div class="cart">
            <h3>Add to cart</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_product_path(@product) %>
    <%= link_to 'Destroy', @product, method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
    <%= link_to 'Back', products_path %>
</div>
